/bin/*.pdb
/bin/captcha.dll
/bin/crfsuite.net.dll
/bin/SentSplitter.dll
/bin/lingvo.core.dll
/bin/Newtonsoft.Json.dll
/bin/ner_eu.web.demo.dll
/bin/ner_eu.web.demo.dll.config
/bin/ner-crf.net.dll
/bin/log4net.dll
/obj/*
/(logs)/*
*.csproj.user